/* const customStyle = {
    backgroundColor: "green",
    fontSize: "16px",
    padding: "15px 30px",
    color: "white",
    width: "100px",
    border: "1px solid #666666",
    borderRadius: "30px",
}; */
button {
    font-size: 16px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: #00a5ab;
}

.resetButton {
    background-color: #000000;
}

.count {
    font-size: 100px;
}

.totalCount {
    font-size: 100px;
    color: #00a5ab
}